@import '../../styles/colors';

.button{
  cursor: pointer;
  border: 1px solid $darkGreen;
  border-radius: .5rem;
  box-shadow: 1px 1px 4px rgba(0, 0, 0,$alpha: .2);
  background-color: $green;
  color: $white;
  font-weight: 700;
  font-size: 1.4rem;
  padding: .7rem .5rem;
}
