$black: #454545;
$darkerGray: #666666;
$darkGray: #9D9D9D;
$lightGray: #BFBFC0;
$btnWhite: #DAE8FC;
$white: #fff;
$darkGreen: #02939C;
$green: #00B6C1;
$lightGreen: #D0EEF0;
$blue: #0036C1;
$lightBlue: #0070C1;
